/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-Ari_Jacoby {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -775px -710px;
  width: 155px;
  height: 155px;
}
.icon-Ben_Lerer {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -310px -865px;
  width: 155px;
  height: 155px;
}
.icon-Bill_Wise {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -620px -710px;
  width: 155px;
  height: 155px;
}
.icon-Brian_OKelley {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -970px 0px;
  width: 155px;
  height: 155px;
}
.icon-Chris_Frallic {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -970px -155px;
  width: 155px;
  height: 155px;
}
.icon-Craig_Swerdloff {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -970px -310px;
  width: 155px;
  height: 155px;
}
.icon-Geoff_Vuleta {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -970px -465px;
  width: 155px;
  height: 155px;
}
.icon-Howard_Lerman {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -865px;
  width: 155px;
  height: 155px;
}
.icon-Hunter_Walk {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -465px -865px;
  width: 155px;
  height: 155px;
}
.icon-Jason_Pressman {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -775px -865px;
  width: 155px;
  height: 155px;
}
.icon-John_Lambros {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -930px -865px;
  width: 155px;
  height: 155px;
}
.icon-Josh_Baer {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1125px -155px;
  width: 155px;
  height: 155px;
}
.icon-Liron-Gitig {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1280px 0px;
  width: 150px;
  height: 150px;
}
.icon-Richard_Jasen {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -735px -395px;
  width: 155px;
  height: 155px;
}
.icon-Roger_Lee {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -735px -550px;
  width: 155px;
  height: 155px;
}
.icon-Scott_Becker {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -710px;
  width: 155px;
  height: 155px;
}
.icon-Sean_ONeal {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -155px -710px;
  width: 155px;
  height: 155px;
}
.icon-William_Raduchel {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -310px -710px;
  width: 155px;
  height: 155px;
}
.icon-Zimmerman {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -465px -710px;
  width: 155px;
  height: 155px;
}
.icon-activecampaign-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1280px -150px;
  width: 150px;
  height: 150px;
}
.icon-acxiom-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -1170px;
  width: 150px;
  height: 150px;
}
.icon-adestra-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1050px -1170px;
  width: 150px;
  height: 150px;
}
.icon-adjust {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px -450px;
  width: 150px;
  height: 150px;
}
.icon-adobe-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px -1050px;
  width: 150px;
  height: 150px;
}
.icon-advertiser-icon {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -2030px -674px;
  width: 75px;
  height: 75px;
}
.icon-alc {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -600px -1320px;
  width: 150px;
  height: 150px;
}
.icon-ali-swerdlow {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1050px -1320px;
  width: 150px;
  height: 150px;
}
.icon-american-auto {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1350px -1320px;
  width: 150px;
  height: 150px;
}
.icon-american-coffee {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1050px -1470px;
  width: 150px;
  height: 150px;
}
.icon-aop {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1350px -1470px;
  width: 150px;
  height: 150px;
}
.icon-apps-flyer {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1500px -1470px;
  width: 150px;
  height: 150px;
}
.icon-audrey-maclsaac {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -1350px;
  width: 150px;
  height: 150px;
}
.icon-auto {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -600px -1770px;
  width: 150px;
  height: 150px;
}
.icon-b2b-finance {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1200px -1770px;
  width: 150px;
  height: 150px;
}
.icon-b2b-online {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1125px -465px;
  width: 150px;
  height: 150px;
}
.icon-b2b-package {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1125px -615px;
  width: 150px;
  height: 150px;
}
.icon-battery-logo {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1125px -310px;
  width: 155px;
  height: 155px;
}
.icon-bluehornet-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -1020px;
  width: 150px;
  height: 150px;
}
.icon-bookbub {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -1020px;
  width: 150px;
  height: 150px;
}
.icon-boomtrain-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -1020px;
  width: 150px;
  height: 150px;
}
.icon-boris-mouzykantskii {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -450px -1020px;
  width: 150px;
  height: 150px;
}
.icon-bronto-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -600px -1020px;
  width: 150px;
  height: 150px;
}
.icon-bullpen_logo {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -750px -1020px;
  width: 150px;
  height: 150px;
}
.icon-campaigner-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -900px -1020px;
  width: 150px;
  height: 150px;
}
.icon-campaignmonitor-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1050px -1020px;
  width: 150px;
  height: 150px;
}
.icon-careers-dash {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -250px 0px;
  width: 250px;
  height: 250px;
}
.icon-careers-tovah {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px 0px;
  width: 250px;
  height: 250px;
}
.icon-carsten-hydahl {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1280px -300px;
  width: 150px;
  height: 150px;
}
.icon-centro {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1280px -450px;
  width: 150px;
  height: 150px;
}
.icon-communicator-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1280px -600px;
  width: 150px;
  height: 150px;
}
.icon-cordial-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1280px -750px;
  width: 150px;
  height: 150px;
}
.icon-credit-card {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1280px -900px;
  width: 150px;
  height: 150px;
}
.icon-data-cheat-sheet {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -235px -250px;
  width: 235px;
  height: 230px;
}
.icon-dataline {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -1170px;
  width: 150px;
  height: 150px;
}
.icon-dataxu {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -1170px;
  width: 150px;
  height: 150px;
}
.icon-dave-hendricks {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -450px -1170px;
  width: 150px;
  height: 150px;
}
.icon-dbm {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -600px -1170px;
  width: 150px;
  height: 150px;
}
.icon-demandbase {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -750px -1170px;
  width: 150px;
  height: 150px;
}
.icon-disney {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -900px -1170px;
  width: 150px;
  height: 150px;
}
.icon-dsp-cheatsheet {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -500px 0px;
  width: 235px;
  height: 230px;
}
.icon-electronics {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1200px -1170px;
  width: 150px;
  height: 150px;
}
.icon-emarsys-livecertfied {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px 0px;
  width: 150px;
  height: 150px;
}
.icon-epsilon-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px -150px;
  width: 150px;
  height: 150px;
}
.icon-eric-raab {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px -300px;
  width: 150px;
  height: 150px;
}
.icon-esp-resources {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -250px;
  width: 235px;
  height: 230px;
}
.icon-experian-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px -600px;
  width: 150px;
  height: 150px;
}
.icon-expertsender-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px -750px;
  width: 150px;
  height: 150px;
}
.icon-fernando-schwartz {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1430px -900px;
  width: 150px;
  height: 150px;
}
.icon-firstroundcapital-logo {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -970px -620px;
  width: 155px;
  height: 155px;
}
.icon-flightnetwork {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -1320px;
  width: 150px;
  height: 150px;
}
.icon-ftv-logo {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -735px -230px;
  width: 165px;
  height: 165px;
}
.icon-gary-deutsch {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -1320px;
  width: 150px;
  height: 150px;
}
.icon-getresponse-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -450px -1320px;
  width: 150px;
  height: 150px;
}
.icon-grapearbor-logo {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -155px -865px;
  width: 155px;
  height: 155px;
}
.icon-grommet {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -750px -1320px;
  width: 150px;
  height: 150px;
}
.icon-health-insurance {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -900px -1320px;
  width: 150px;
  height: 150px;
}
.icon-home-decor {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -2030px -300px;
  width: 150px;
  height: 150px;
}
.icon-horoscope {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1200px -1320px;
  width: 150px;
  height: 150px;
}
.icon-how-to-succeed {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -235px -480px;
  width: 235px;
  height: 230px;
}
.icon-icontact-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px 0px;
  width: 150px;
  height: 150px;
}
.icon-ignitionone {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -150px;
  width: 150px;
  height: 150px;
}
.icon-indpt-money {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -300px;
  width: 150px;
  height: 150px;
}
.icon-interactiveone {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -450px;
  width: 150px;
  height: 150px;
}
.icon-jason-kelly {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -600px;
  width: 150px;
  height: 150px;
}
.icon-jason-oates {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -750px;
  width: 150px;
  height: 150px;
}
.icon-john-engler {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -900px;
  width: 150px;
  height: 150px;
}
.icon-jon-beck {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -1050px;
  width: 150px;
  height: 150px;
}
.icon-joseph-dressler {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1580px -1200px;
  width: 150px;
  height: 150px;
}
.icon-julia-rieger {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -1470px;
  width: 150px;
  height: 150px;
}
.icon-kamuti-kiteme {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -1470px;
  width: 150px;
  height: 150px;
}
.icon-karla-partilla {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -1470px;
  width: 150px;
  height: 150px;
}
.icon-kerel-cooper {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -450px -1470px;
  width: 150px;
  height: 150px;
}
.icon-kochava {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -600px -1470px;
  width: 150px;
  height: 150px;
}
.icon-kraft {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -750px -1470px;
  width: 150px;
  height: 150px;
}
.icon-kyle-brown {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -900px -1470px;
  width: 150px;
  height: 150px;
}
.icon-lererventures {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -620px -865px;
  width: 155px;
  height: 155px;
}
.icon-listrak-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1200px -1470px;
  width: 150px;
  height: 150px;
}
.icon-liveaudience-esp {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -470px -480px;
  width: 235px;
  height: 230px;
}
.icon-liveaudience-faq {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -480px;
  width: 235px;
  height: 230px;
}
.icon-liveramp {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px 0px;
  width: 150px;
  height: 150px;
}
.icon-lotame {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -150px;
  width: 150px;
  height: 150px;
}
.icon-luxury-auto {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -300px;
  width: 150px;
  height: 150px;
}
.icon-luxury-retail {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -450px;
  width: 150px;
  height: 150px;
}
.icon-mailchimp-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -600px;
  width: 150px;
  height: 150px;
}
.icon-mailup-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -750px;
  width: 150px;
  height: 150px;
}
.icon-marketer-icon {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -2105px -599px;
  width: 75px;
  height: 75px;
}
.icon-maropost-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -1050px;
  width: 150px;
  height: 150px;
}
.icon-matt-keiser {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -1200px;
  width: 150px;
  height: 150px;
}
.icon-mdotm {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -1350px;
  width: 150px;
  height: 150px;
}
.icon-mediamath {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -1620px;
  width: 150px;
  height: 150px;
}
.icon-messagegears-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -1620px;
  width: 150px;
  height: 150px;
}
.icon-myemma-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -1620px;
  width: 150px;
  height: 150px;
}
.icon-napco {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -450px -1620px;
  width: 150px;
  height: 150px;
}
.icon-netwise {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -600px -1620px;
  width: 150px;
  height: 150px;
}
.icon-newsme-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -750px -1620px;
  width: 150px;
  height: 150px;
}
.icon-nielson {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -900px -1620px;
  width: 150px;
  height: 150px;
}
.icon-nyu-stern {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1050px -1620px;
  width: 150px;
  height: 150px;
}
.icon-ongage {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1200px -1620px;
  width: 150px;
  height: 150px;
}
.icon-patch {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1350px -1620px;
  width: 150px;
  height: 150px;
}
.icon-pharma {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1500px -1620px;
  width: 150px;
  height: 150px;
}
.icon-postup-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1650px -1620px;
  width: 150px;
  height: 150px;
}
.icon-predict-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px 0px;
  width: 150px;
  height: 150px;
}
.icon-prime-publishing {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -150px;
  width: 150px;
  height: 150px;
}
.icon-proclivity {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -300px;
  width: 150px;
  height: 150px;
}
.icon-publisher-icon {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -2030px -599px;
  width: 75px;
  height: 75px;
}
.icon-pure360-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -600px;
  width: 150px;
  height: 150px;
}
.icon-readers-digest {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -750px;
  width: 150px;
  height: 150px;
}
.icon-rocketfuel {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -900px;
  width: 150px;
  height: 150px;
}
.icon-sailthru-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -1050px;
  width: 150px;
  height: 150px;
}
.icon-salesforce-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -1200px;
  width: 150px;
  height: 150px;
}
.icon-shasta_ventures {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1125px 0px;
  width: 155px;
  height: 155px;
}
.icon-shiven-ramji {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -1500px;
  width: 150px;
  height: 150px;
}
.icon-silverpop-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: 0px -1770px;
  width: 150px;
  height: 150px;
}
.icon-stirista-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -1770px;
  width: 150px;
  height: 150px;
}
.icon-subscribermail-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -300px -1770px;
  width: 150px;
  height: 150px;
}
.icon-suneet-bhatt {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -450px -1770px;
  width: 150px;
  height: 150px;
}
.icon-targeting-display-dsp {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -735px 0px;
  width: 235px;
  height: 230px;
}
.icon-technology-retailer {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -750px -1770px;
  width: 150px;
  height: 150px;
}
.icon-thomas-jenson {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -900px -1770px;
  width: 150px;
  height: 150px;
}
.icon-towerdata {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1050px -1770px;
  width: 150px;
  height: 150px;
}
.icon-tune-sdk {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -500px -230px;
  width: 235px;
  height: 230px;
}
.icon-tune {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1350px -1770px;
  width: 150px;
  height: 150px;
}
.icon-tvguide {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1500px -1770px;
  width: 150px;
  height: 150px;
}
.icon-unionbank {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1650px -1770px;
  width: 150px;
  height: 150px;
}
.icon-v12 {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1800px -1770px;
  width: 150px;
  height: 150px;
}
.icon-washingtonpost {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -2030px 0px;
  width: 150px;
  height: 150px;
}
.icon-webbula {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -2030px -150px;
  width: 150px;
  height: 150px;
}
.icon-whatcounts-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1880px -450px;
  width: 150px;
  height: 150px;
}
.icon-wireless {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1730px -900px;
  width: 150px;
  height: 150px;
}
.icon-yellowhammer {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -150px -1320px;
  width: 150px;
  height: 150px;
}
.icon-yellowstone {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -2030px -450px;
  width: 150px;
  height: 149px;
}
.icon-yesmail-livecertified {
  background-image: url(../img/sprites/spritesheet.png);
  background-position: -1125px -765px;
  width: 150px;
  height: 150px;
}
