---
layout: default
title: LiveIntent | Partners
---


<div class="main-container">
   <section class="cover image-slider slider-all-controls controls-inside ">
    <ul class="slides">
        <li class="image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="/img/accent-j.png" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 text-left">
                        <h3 class="pt32 orange">Lookalike Modeling + Gilt</h3>
                        <h5 class="mb-xs-16 large orange">Phong Nguygen</h5>
                        <h6 class="uppercase mb16 orange">Co-Founder,Gilt</h6>
                        <p class="lead mb40 color-body">"By using ouf first-party data to create lookalike audiences, we were able to reach our taret audience: people who are likely to be Gilt customers.</p>
                        <a class="btn btn-lg" href="#">Find out how!</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </li>
        <li class="image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="/img/accent-k.png" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-1 text-left bg-light">
                        <h3 class="pt32">Lookalike Modeling + Gilt</h3>
                        <h5 class="mb-xs-16 large">Phong Nguygen</h5>
                        <h6 class="uppercase mb16">Co-Founder,Gilt</h6>
                        <p class="lead mb40">"By using ouf first-party data to create lookalike audiences, we were able to reach our taret audience: people who are likely to be Gilt customers.</p>
                        <a class="btn btn-lg" href="#">Find out how!</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </li>
    </ul>
   </section>
   {% include kraft-testimonial.html %}
   <section>
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h3>Find Your Solution</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Advertisers</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Publishers</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Marketers</h4>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Partners</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% include crm-handbook.html %}
</div> <!--end of main container-->