---
layout: default
title: LiveIntent
---

<div class="main-container">
    <section class="pt120 pb96 image-bg overlay-hero">
        <div class="background-image-holder">
            <img alt="Background" class="background-image img-responsive" src="/img/home/home-hero.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1 class="mb8 color-fun-blue semi-bold large">A smarter way to market and advertise in email.</h1>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-10 col-md-offset-1 text-center">
                    <h3 class="color-fun-blue semi-bold intro-h3">Premium advertisers. Reaching an attention-rich audience of 130MM+ people.</h3>
                    <h3 class="color-fun-blue semi-bold mb32 text-center intro-h3">In content from the world’s top brands and publishers.</h3>
                    <i class="ti-angle-down home-i pt16 pb64 text-center"></i>
                </div>
            </div>
        </div><!--end of container-->
        <div class="container">
        <div class="row pt140 pb64">
            <div class="logo-carousel">
                <ul class="slides">
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/blue-apron.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/aig.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/walmart.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/marriott.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/h-r-block.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/nyt.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/sony-music.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/sears.png" />
                        </a>
                    </li>
                                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/mls.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/napa.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/bloomingdales.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/casper.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/h-r-block.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/yale.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/american-apparel.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/livenation.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <!--end of logo slider-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    <div class="container">
            <h2 class="color-fun-blue text-center pt24 pb64 semi-bold">Find Your Solution</h2>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="feature boxed a cast-shadow-light">
                    <i class="ti-email home-a"></i>
                    <h4 class="color-fun-blue">Advertisers</h4>
                    <p>
                        Display advertising with higher standards. Because it performs.
                    </p>
                    <a class="btn btn-lg btn-orange" href="/solutions/advertisers">Learn More!</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="feature boxed p cast-shadow-light">
                    <i class="ti-email home-p"></i>
                    <h4 class="color-conifer">Publishers</h4>
                    <p>
                        The Easiest most efficient way to monetize email. Because it works.
                    </p>
                    <a class="btn btn-lg btn-orange" href="/solutions/publishers">Learn More!</a>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="feature boxed m cast-shadow-light">
                    <i class="ti-email home-m"></i>
                    <h4 class="orange">Email Marketers</h4>
                    <p>
                         Email is no longer just about sending email. It's about identity.
                    </p>
                    <a class="btn btn-lg btn-orange" href="/solutions/marketers">Learn More!</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% include crm-handbook.html %}
{% include customer-success.html %}
<section class="bg-fun-blue">
    <div class="container">
      <h2 class="text-center color-white pb-xs-8 semi-bold">Meet our Audience</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6 p32">
                <h3 class="text-center color-white pt32 pb32">An audience that is larger than some of the biggest brands in the world.</h3>
                <img class="img-responsive img-center" alt="audience reach" src="/img/home/audience-1.png">
            </div>
            <div class="col-xs-12 col-sm-6 p32">
                <h3 class="text-center color-white pt32 pb32">An audience that is mobile-first and naturally cross-device.</h3>
                <img class="img-responsive img-center" alt="audience mobile" src="/img/home/audience-2.png">
            </div>
        </div>
    </div>
</section>
</div><!--end of main container-->