<section class="bg-lite-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2 class="color-picton-blue mt32 mb32">About LiveIntent</h2>
                <h4>The LiveIntent platform helps 900+ top brands deliver marketing and advertising messages to an attention-rich audience of 130MM+ people each month, in emails opened by the loyal subscribers of 1100+ top US publishers and brands. In 2010, LiveIntent cut its teeth as a smarter way to buy and sell ads in email and has since been recognized as the second fastest growing company in NYC (Crain’s, 2014 & 2015) and as one of America’s Most Promising Companies (Forbes 2015.) </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 pt32">
                {% include logo-slider.html %}
            </div>
        </div>
</section>