<section class="pt72 pb72 image-bg">
    <div class="background-image-holder">
        <img alt="Background" class="background-image img-responsive" src="/img/about/press/press-module.jpg"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="http://www.crainsnewyork.com/features/2015-fast50"><h2 class="mb8 color-white semi-bold">LiveIntent named #2 on Crain’s list of NYC fastest growing companies for 2nd consecutive year</h2></a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>