<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="mb0 inline-block p32 p0-xs">Download the CRM Retargeting Handbook</h3>
                <h4 class="mb32">22 pages of awesome tips and tricks to jump start your CRM program</h4>
                <a class="btn btn-lg btn-white mb8 mt-xs-24" href="#">Download Now</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>