<section class="pt32 pb32">
    <div class="container">
        <h2 class="color-picton-blue text-center pt24 semi-bold">Customer Success</h2>
        <h4 class="text-center pt16 pb32">Don't take our word for it - see how our clients achieve their goals through our solutions.</h4>
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center mb-sm-32">
                <img class="img-responsive img-center" alt="La Quinta" src="/img/customer-stories/landing/la-quinta-circle.png" />
            </div>
            <div class="col-sm-12 col-md-4 text-center mb-sm-32">
                <img class="img-responsive img-center" alt="Meredith" src="/img/customer-stories/landing/meredith-circle.png" />
            </div>
            <div class="col-sm-12 col-md-4 text-center mb-sm-32">
                <img class="img-responsive img-center" alt="Walmart" src="/img/customer-stories/landing/walmart-circle.png" />
            </div>
            <div class="col-md-12 text-center pt64 pb32">
            	<a class="btn btn-lg btn-orange mb0" href="/customer-stories/">See Customer Stories</a>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>