<footer class="footer-1 bg-dark">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-4 text-center">
              <h5>Contact Us!</h5>
              <a href="tel:+1212-792-5348">212-792-5348</a>
              </div>
              <div class="col-xs-12 col-md-4 text-center">
              <h5>Subscribe to awesome content.</h5>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="email">
               </div>
              </div>
              <div class="col-xs-12 col-md-4 text-center">
                <h5>Our Social Channels</h5>
                <ul class="list-inline social-list mb0">
                  <li><a class="twitterBtn smGlobalBtn" href="#"></a></li>
                  <li><a class="facebookBtn smGlobalBtn" href="#"></a></li>
                  <li><a class="linkedinBtn smGlobalBtn" href="#"></a></li>
                </ul>
              </div>
          </div><!--end of first footer row--> 
          <div class="row footer-row">
            <div class="col-xs-12 text-center pt32">
              <ul class="list-inline">
                <li><a href="#">Careers</a></li><span>|</span>
                <li><a href="#">Powered By</a></li><span>|</span>
                <li><a href="#">Content Policy</a></li><span>|</span>
                <li><a href="#">Privacy Policy</a></li><span>|</span>
                <li><a href="#">Ad Choices</a></li><span>|</span>
                <li><a href="#">Site Map</a></li>
              </ul>
            </div>
          </div><!--end of second footer row-->
          <div class="row">
            <div class="col-xs-12 text-center">
              <ul class="list-inline">
                <li><img class="logo logo-dark" alt="LiveIntent" src="/img/logos/liveintent-logo-footer.png"/></li>
                <li>LiveIntent is a smarter way to market and advertise to people, not pixels.</li>
              </ul>
            </div>
          </div><!--end of third footer row-->
    </div><!--end of footer container-->
</footer>