<footer>
  <section class="pt40 pb40 image-bg footer-overlay">
      <div class="background-image-holder">
          <img alt="Background" class="background-image img-responsive" src="/img/footer/footer-contact.jpg" />
      </div>
      <div class="container">
        <div class="row bg-dark pt32 pb32">
          <div class="col-xs-12 col-sm-6">
            <h4>Subscribe to awesome content.</h4>
              <script src="//app-ab07.marketo.com/js/forms2/js/forms2.min.js"></script>
                <form id="mktoForm_1718"></form>
                <script>MktoForms2.loadForm("//app-ab07.marketo.com", "920-LJZ-738", 1718);</script>
            </div>
          <div class="col-xs-12 col-sm-3 mt-xs-24">
            <h4 class="mb16">Get in touch.</h4>
            <a class="phone" href="tel:+12127925348">212-792-5348</a>
        </div>
        <div class="col-xs-12 col-sm-3 mt-xs-24">
            <h4>Connect with us.</h4>
            <ul class="list-inline social-list mb0">
              <li><a class="twitterBtn smGlobalBtn" href="https://twitter.com/LiveIntent"></a></li>
              <li><a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/LiveIntent/"></a></li>
              <li><a class="linkedinBtn smGlobalBtn" href="https://www.linkedin.com/company/734773"></a></li>
            </ul>
        </div>
      </div><!--end of row-->
    </div>
  </section>
  <section class="bg-gray hidden-xs hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <h4>Advertisers</h4>
          <h5>Branding</h5>
            <ul>
              <li><a href="/solutions/advertisers">Solutions</a></li>
              <li><a href="/customer-stories/advertisers">Customer Stories</a></li>
            </ul>
            <h5>Direct Response</h5>
            <ul>
              <li><a href="/solutions/advertisers">Solutions</a></li>
              <li><a href="/customer-stories/advertisers">Customer Stories</a></li>
            </ul>
            <h5>Retargeting</h5>
            <ul>
              <li><a href="/solutions/advertisers">Solutions</a></li>
              <li><a href="/customer-stories/advertisers">Customer Stories</a></li>
            </ul>
            <h5>Mobile App & Attribution</h5>
            <ul>
              <li><a href="/solutions/advertisers">Solutions</a></li>
              <li><a href="/customer-stories/advertisers">Customer Stories</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>Publishers</h4>
          <h5>Email Ad Serving</h5>
            <ul>
              <li><a href="/solutions/publishers">Solutions</a></li>
              <li><a href="/customer-stories/publishers">Customer Stories</a></li>
            </ul>
            <h5>Direct Selling Email Inventory</h5>
            <ul>
              <li><a href="/solutions/publishers">Solutions</a></li>
              <li><a href="/customer-stories/publishers">Customer Stories</a></li>
            </ul>
            <h5>Monetize Unsold Inventory</h5>
            <ul>
              <li><a href="/solutions/publishers">Solutions</a></li>
              <li><a href="/customer-stories/publishers">Customer Stories</a></li>
            </ul>
            <h5>User Matching</h5>
            <ul>
              <li><a href="/solutions/publishers">Solutions</a></li>
              <li><a href="/customer-stories/publishers">Customer Stories</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
          <h4>Marketers</h4>
          <h5>Real-time Email Offer Optimization</h5>
            <ul>
              <li><a href="/solutions/marketers">Solutions</a></li>
              <li><a href="/customer-stories/marketers">Customer Stories</a></li>
            </ul>
            <h5>CRM Retargeting</h5>
            <ul>
              <li><a href="/solutions/marketers">Solutions</a></li>
              <li><a href="/customer-stories/marketers">Customer Stories</a></li>
            </ul>
            <h5>Lookalike Modeling</h5>
            <ul>
              <li><a href="/solutions/marketers">Solutions</a></li>
              <li><a href="/customer-stories/marketers">Customer Stories</a></li>
            </ul>
            <h5>Exposure Files</h5>
            <ul>
              <li><a href="/solutions/marketers">Solutions</a></li>
              <li><a href="/customer-stories/marketers">Customer Stories</a></li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3 vertical-line-left">
          <h5>Technology</h5>
            <ul>
              <li><a href="http://developers.liveintent.com/">Developers Community</a></li>
            </ul>
            <h5>Resources</h5>
            <ul>
              <li><a href="http://blog.liveintent.com">Blog</a></li>
              <li><a href="https://support.liveintent.com/hc/en-us">Knowledge Base</a></li>
              <li><a href="http://blog.liveintent.com/category/liveintentional/">LiveIntentional Videos</a></li>
              <li><a href="/resources/marketing-materials">Marketing Materials</a></li>
            </ul>
            <h5>About Us</h5>
            <ul>
              <li><a href="/about/our-story">Our Story</a></li>
              <li><a href="/about/team">Our Team</a></li>
              <li><a href="/careers">Careers</a></li>
              <li><a href="/about/press">Pressing News</a></li>
            </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-dark section-sm">
    <div class="container">
      <img class="footer-logo" src="/img/logos/liveintent-logo.png" alt="LiveIntent Logo">
      <div class="row">
        <div class="col-xs-12 text-center">
          <ul class="list-inline">
            <li><p class="orange">Locations</p></li>
            <li><h5>Austin</h5></li><span>.</span>
            <li><h5>Berlin</h5></li><span>.</span>
            <li><h5>Buenos Aires</h5></li><span>.</span>
            <li><h5>Copenhagen</h5></li><span>.</span>
            <li><h5>Detroit</h5></li><span>.</span>
            <li><h5>London</h5></li><span>.</span>
            <li><h5>New York City</h5></li>
          </ul>
        </div>
      </div><!--end of locations footer row-->
      <div class="row">
        <div class="col-xs-12 text-center">
          <ul class="list-inline">
            <li><p class="orange text-left">Legal</p></li>
            <li><a href="/powered-by">Powered By</a></li><span>.</span>
            <li><a href="/content-policy">Content Policy</a></li><span>.</span>
            <li><a href="/privacy-policy">Privacy Policy</a></li><span>.</span>
            <li><a href="/ad-choices">Ad Choices</a></li><span>.</span>
            <li><h5>&copy; LiveIntent 2016</h5></li>
          </ul>
        </div>
      </div><!--end of third footer row-->
    </div>
  </section>
</footer>