<!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" id="color-nav">
    <div class="container">
      <div class="navbar-header">
        <a class="logo navbar-brand" href="/"><img alt="Logo" class="logo" src="/img/liveintent-logo-white.png" /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/roles">Roles</a></li>
          <li><a href="/goals">Goals</a></li>
          <li><a href="/about">About</a></li>
          <li><i class="fa fa-user"><a href="/roles"></a></i></li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>
  <div class="menu-section">
    <div class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
    <nav>
      <div class="col-md-6">
        <ul role="navigation" class="nav-left hidden">
          <li class="goals"><a href="/goals">Goals.</a></li>
          <li class="roles"><a href="/roles">Roles.</a></li>
          <li class="about"><a href="/about">About.</a></li>
          <li> Search: <input placeholder="search.."><i class="fa fa-search"></i></li>
        </ul>
      </div>
        <div class="col-md-6 nav-overlay">
        <ul role="navigation" class="hidden">
          <li><a ng-href="#/goals">Goals</a></li>
          <li><a ng-href="#/roles">Roles</a></li>
          <li><a ng-href="#/about">About</a></li>
        </ul>
    </div>
    </nav>
     </div>