<script src="/js/jquery-1.11.0.js"></script>
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/flexslider.min.js"></script>
<script src="/js/spectragram.min.js"></script>
<script src="/js/twitterfetcher.min.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript" src="//du4pg90j806ok.cloudfront.net/js/touch-history/dist/touchhist-0.2.1.min.js">
        {
                "nameMappings": {
                        "RC_First_Channel__c": "Initial_Channel__c",
                        "RC_First_Medium__c": "Initial_Medium__c",
                        "RC_First_Source__c": "Initial_Source__c",
                        "RC_First_Campaign__c": "Initial_Channel__c",
                        "RC_First_Term__c": "Initial_Term__c",
                        "RC_First_Content__c": "Initial_Content__c",
                        "RC_Acquisition_Channel__c": "Channel__c",
                        "RC_Acquisition_Medium__c": "Medium__c",
                        "RC_Acquisition_Source__c": "Source__c",
                        "RC_Acquisition_Campaign__c": "Campaign_Name_1__c",
                        "RC_Acquisition_Term__c": "Term__c",
                        "RC_Acquisition_Content__c": "Content__c",
                        "RC_Recent_Source__c": "Recent_Source__c"
                }
        }
</script>

