<!-- jQuery Version 1.11.0 -->
<script src="/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Waypoints JavaScript -->
<script src="/js/jquery.waypoints.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/masonry.min.js"></script>

<!-- Flexslider Javascript -->
<script src="/js/flexslider.min.js"></script>

<!-- Instagram Feed -->
<script src="/js/spectragram.min.js"></script>

<!-- Twitter Feed -->
<script src="/js/twitterfetcher.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/main.js"></script>

