<section class="pt32 pb32 bg-fun-blue color-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <img class="img-responsive" alt="Kraft Success Circle" src="/img/customer-stories/kraft-testimonial-circle.png">
            </div>
             <div class="col-xs-12 col-md-7">
                <h4 class="color-white">“We are constantly exploring ways to further delight our customers with our delicious recipe content. The recipes that are served to Meredith’s readership using optimization technology from LiveIntent have performed well and have met/exceeded our current benchmarks for customer engagement.”</h4>
                 <p class="color-white mb16">Dana Shank | Associate Director, Kraft</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="button-wrapper mt72">
                <a class="btn btn-orange" href="http://clearslide.com/view/mail?iID=244RDVAQDV6CW7K9UA4E">Learn about Kraft's Success Story</a>
              </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>