<section class="pt16 pb16 bg-purple color-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <img class="img-responsive" alt="Kraft Success Circle" src="/img/kraft-testimonial-circle.png">
            </div>
             <div class="col-xs-12 col-md-7">
                <h4 class="color-white">Kraft first advertiser to do native advertising in email</h4>
                <p>“We are constantly exploring ways to further delight our customers with our delicious recipe content. The recipes that are served to Meredith’s readership using optimization technology from LiveIntent have performed well and have met/exceeded our current benchmarks for customer engagement.”</p>
                <h6 class="color-white">Dana Shank, Kraft</h6>
                <p>Associate Director</p>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="button-wrapper mt72">
                <a class="btn btn-transparent" href="#">Learn about Kraft's Success Story</a>
              </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>