
    <div class="logo-carousel">
        <ul class="slides">
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/blue-apron.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/aig.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/walmart.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/marriott.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/h-r-block.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/nyt.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/sony-music.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/sears.png" />
                        </a>
                    </li>
                                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/mls.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/napa.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/bloomingdales.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/casper.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/h-r-block.png" />
                        </a>
                    </li>
                   <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/yale.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/american-apparel.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/slider/livenation.png" />
                        </a>
                    </li>
                </ul>
    </div>
    <!--end of logo slider-->

