
    <div class="logo-carousel">
        <ul class="slides">
            <li>
                <img alt="Logo" src="/img/logos/slider/blue-apron.png" />
            </li>
           <li>
                <img alt="Logo" src="/img/logos/slider/aig.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/walmart.png" />
            </li>
           <li>
                <img alt="Logo" src="/img/logos/slider/marriott.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/h-r-block.png" />
            </li>
           <li>
                <img alt="Logo" src="/img/logos/slider/nyt.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/sony-music.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/sears.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/mls.png" />
            </li>
           <li>
                <img alt="Logo" src="/img/logos/slider/napa.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/bloomingdales.png" />
            </li>
           <li>
                <img alt="Logo" src="/img/logos/slider/casper.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/h-r-block.png" />
            </li>
           <li>
                <img alt="Logo" src="/img/logos/slider/yale.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/american-apparel.png" />
            </li>
            <li>
                <img alt="Logo" src="/img/logos/slider/livenation.png" />
            </li>
        </ul>
    </div>
    <!--end of logo slider-->

