
    <div class="logo-carousel">
        <ul class="slides">
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img alt="Logo" src="/img/logos/kraft-logo.png" />
                </a>
            </li>
        </ul>
    </div>
    <!--end of logo slider-->

