<div class="nav-container">
            <a id="top"></a>
            <nav>
                <div class="nav-utility">
                    <div class="module left">
                        <a href="index.html">
                            <img class="logo logo-light" alt="Foundry" src="/img/liveintent-logo-orange.png" />
                            <img class="logo logo-dark" alt="Foundry" src="/img/liveintent-logo-orange.png" />
                        </a>
                    </div>
                    <div class="module right">
                        <a class="btn btn-sm btn-orange" href="#">Get in Touch</a>
                        <a class="btn btn-sm btn-login" href="#">Login</a>
                    </div>
                </div>
                <div class="nav-bar">
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                     <div class="module-group right">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a href="home-adventure.html">Technology</a>
                                </li>
                                <li>
                                    <a href="home-adventure.html">Resources</a>
                                </li>
                               <li>
                                    <a href="home-adventure.html">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="module-group left">
                        <div class="module left">
                            <ul class="menu">
                                <li class="has-dropdown">
                                    <a href="#">
                                        Find Your Solution
                                    </a>
                                    <ul class="mega-menu">
                                        <!-- <li>
                                            <ul> -->
                                               <!--  <li>
                                                    <span class="title">Concepts</span>
                                                </li> -->
                                                <li>
                                                    <a href="home-adventure.html">For Advertisers</a>
                                                </li>
                                                <li>
                                                    <a href="home-agency.html">For Publishers</a>
                                    
                                                </li>
                                                <li>
                                                    <a href="home-app-landing.html">For Marketers</a>
                                                </li>
                                                <li>
                                                    <a href="home-app-landing-2.html">For Partners</a>
                                                    
                                                </li>
                                                <li>
                                                    <a href="home-capital-firm.html">For Job Seekers</a>
                                                </li>
                                                <li>
                                                    <a href="home-capital-firm.html">For Anyone Who's Lost</a>
                                                </li>
                                                <!-- <li>
                                                    <a href="home-fitness.html">Fitness</a>
                                                    <span class="label">New!</span>
                                                </li>
                                                <li>
                                                    <a href="home-restaurant.html">Restaurant</a>
                                                </li>
                                                <li>
                                                    <a href="home-music.html">Music</a>
                                                </li>
                                                <li>
                                                    <a href="home-event.html">Event / Seminar</a>
                                                </li>
                                                <li>
                                                    <a href="home-architecture.html">Architecture</a>
                                                </li> -->
                                           <!--  </ul>
                                        </li> -->
                              <!--           <li>
                                            <ul>
                                                <li>
                                                    <a href="home-photography.html">Photography</a>
                                                </li>
                                            	<li>
                                                    <a href="home-photography-2.html">Ken Burns</a>
                                                </li>
                                                <li>
                                                    <a href="home-personal-portfolio.html">Portfolio</a>
                                                </li>
                                                <li>
                                                    <a href="home-property.html">Property Listing</a>
                                                </li>
                                                <li>
                                                    <a href="home-resume.html">Resumé</a>
                                                </li>
                                                <li>
                                                    <span class="title">Home Pages</span>
                                                </li>
                                                <li>
                                                    <a href="index.html">Home Classic</a>
                                                </li>
                                                <li>
                                                    <a href="home-default-2.html">Home Layout 2</a>
                                                </li>
                                                <li>
                                                    <a href="home-default-3.html">Home Layout 3</a>
                                                </li>
                                                <li>
                                                    <a href="home-default-4.html">Home Layout 4</a>
                                                </li>
                                                <li>
                                                    <a href="home-default-5.html">Home Layout 5</a>
                                                </li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">
                                        See Customer Stories
                                    </a>
                                    <ul class="mega-menu">
                                        <!-- <li>
                                            <ul> -->
                                                <li>
                                                    <a href="page-about-us-1.html">From our Advertisers</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-2.html">From our Publishers</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-3.html">From our Marketers</a>
                                                </li>
                                                <li>
                                                    <a href="page-services-1.html">From our Partners</a>
                                                </li>
                                                <!-- <li>
                                                    <a href="page-services-3.html">Services 3</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact-1.html">Contact 1</a>
                                                </li>
                                                <li>
                                                    <a href="page-contact-2.html">Contact 2</a>
                                                </li> -->
                                          <!--   </ul>
                                        </li> -->
                                   <!--      <li>
                                            <ul>
                                                <li>
                                                    <span class="title">Utility Pages</span>
                                                </li>
                                                <li>
                                                    <a href="page-login.html">Login</a>
                                                </li>
                                                <li>
                                                    <a href="page-register.html">Register</a>
                                                </li>
                                                <li>
                                                    <a href="page-coming-soon.html">Coming Soon</a>
                                                </li>
                                                <li>
                                                    <a href="page-faq.html">FAQ</a>
                                                </li>
                                                <li>
                                                    <a href="page-confirmation.html">Confirmation</a>
                                                </li>
                                                <li>
                                                    <a href="page-countdown.html">Countdown</a>
                                                </li>
                                                <li>
                                                    <a href="page-countdown-2.html">Countdown 2</a>
                                                </li>
                                                <li>
                                                    <a href="page-404.html">404 - Error</a>
                                                </li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </li>
                                        <li>
                                            <a href="blog-simple-feed.html">
                                                
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--end of menu module-->
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>