<div class="mobile-overlay">
  <div class="wrap">
    <ul class="wrap-nav">
      <li>
        <a href="#">Solutions</a>
      </li>
      <li>
        <a href="#">Results</a>
      </li>
      <li>
        <a href="#">Knowledge Base</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
    </ul>
     <p>
      <a href="tel:+1212-792-5348">212-792-5348</a>
      </p>
    <div id="social">
      <a class="btn btn-lg btn-orange" href="#">Get in touch!</a>
    </div>
    <div class="row">
      <div class="col-xs-3">Our Story</div>
      <div class="col-xs-3">Careers</div>
      <div class="col-xs-3">Press</div>
      <div class="col-xs-3">Our Story</div>
    </div>
  </div>
</div>
<div class="nav-container">
    <a id="top"></a>
    <nav>
    <div class="nav-utility">
        <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="LiveIntent" src="/img/liveintent-logo-orange.png" />
                    <img class="logo logo-dark" alt="LiveIntent" src="/img/liveintent-logo-orange.png" />
                </a>
        </div>
        <div class="module-group right">
            <div class="module left">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
               </div>
            </div>
            <div class="module left">
              <a class="btn btn-sm btn-orange" href="#">Get in Touch!</a>
            </div>
            <div class="module right">
              <a class="btn btn-login btn-sm" href="#">Login</a>
            </div>
        </div>
    </div>
        <div class="nav-bar-main">
            <div class="module widget-handle main-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group left">
                <div class="module left">
                    <ul class="menu-sub">
                        <li> 
                          <a href="#">Find Your Solution</a> 
                        </li>
                        <li class="nav-divider"> 
                          <a href="#">|</a> 
                        </li>  
                        <li>
                          <a href="#">See Customer Stories</a>
                        </li>
                    </ul>
                </div>
                <!--end of menu module-->
            </div><!--end of module group-->
          <div class="module-group right">
            <div class="module left">
                <ul class="menu-sub">
                    <li>
                      <a href="#">Technology</a>
                    </li>
                    <li>
                      <a href="#">Resources</a>
                    </li>
                    <li>
                      <a href="#">About Us</a>
                    </li>
                </ul>
              </div>
            <!-- <div class="module left">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
               </div>
            </div>
            <div class="module left">
              <a class="btn btn-sm btn-orange" href="#">Get in Touch!</a>
            </div> -->
          </div>
        </div><!--end of nav-bar-->
    </nav>
</div><!-- end of nav container -->