<div class="nav-container">
    <a id="top"></a>
    <nav>
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="Foundry" src="/img/liveintent-logo-orange.png" />
                    <img class="logo logo-dark" alt="Foundry" src="/img/liveintent-logo-orange.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group left">
                <div class="module left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">
                                Solutions
                            </a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li>
                                            <a href="#">Acquire</a>
                                        </li>
                                        <li>
                                            <a href="#">Monetize</a>
                                        </li>
                                        <li>
                                            <a href="#">Optimize</a>
                                        </li>
                                        <li>
                                            <a href="#">Reach</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">
                                Results
                            </a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li>
                                            <a href="#">Advertiser</a>
                                        </li>
                                        <li>
                                            <a href="#">Customer</a>
                                        </li>
                                        <li>
                                            <a href="#">Marketer</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">
                                Company
                            </a>
                            <ul>
                                <li class="has-dropdown">
                                    <a href="#">
                                        About Us
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                People
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Culture
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Investors
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">
                                        Careers
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Tech Careers
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Apply now!
                                            </a>
                                            <span class="label">New!</span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        Press
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Events
                                    </a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">
                                        Resources
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Customer Success
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Resource Center
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Knowledge Base
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                   </ul>
                </div>
                <!--end of menu module-->
            </div>
            <!--end of module group-->
          <div class="module-group right">
            <div class="module left">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
               </div>
            </div>
          </div>
        </div>
    </nav>
</div>