<!-- <div class="nav-utility hidden-xs hidden-sm">
      <div class="navbar-right">
            <a class="color-white" href="#">Search</a> <span class="color-white"> | </span>
            <a class="color-white" href="#">Login</a>
        </div>
    </div> -->
<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="javascript:void(0)" class="icon hidden-md hidden-lg hidden-xl">
		<div class="hamburger">
		  <div class="menui top-menu"></div>
		  <div class="menui mid-menu"></div>
		  <div class="menui bottom-menu"></div>
		</div>
	  </a>  
      <a class="navbar-brand" href="/"><img alt="LiveIntent Logo" src="/img/logos/liveintent-logo.png"/></a>
    </div>
    <div class="mobile-overlay">
      <div class="wrap">
      	<a class="logo-mobile" href="/"><img alt="LiveIntent Logo" src="/img/logos/liveintent-logo.png"/></a>
         <ul class="accordion accordion-2">
    	        <li class="mobile-li">
    	            <div class="title">
    	                <span>Find Your Solution</span>
    	            </div>
    	            <div class="content">
    	                <div class="tab-content">
                          <div class="tab-pane active" id="men">
                            <ul class="nav-list list-inline text-center">
                                <li><a class="mobile-link" href="/solutions/publishers"><span class="publishers-m">For Publishers</span></a></li>
                                <li><a class="mobile-link" href="/solutions/advertisers"><span class="advertisers-m">For Advertisers</span></a></li>
                                <li><a class="mobile-link" href="/solutions/marketers"><span class="marketers-m">For Marketers</span></a></li>
                                <li><a class="mobile-link" href="/partners"><span class="partners-m">For Partners</span></a></li>
                            </ul>
                          </div>
                        </div>
    	            </div>
    	        </li>
    	        <li class="mobile-li">
    	            <div class="title">
    	                <span>See Customer Stories</span>
    	            </div>
    	            <div class="content">
    	                <div class="tab-content">
                          <div class="tab-pane active" id="men">
                            <ul class="nav-list list-inline text-center">
                                <li class="second-list"><a href="/customer-stories/advertisers"><span class="advertisers-m">From our Advertisers</span></a></li>
                                <li class="second-list"><a href="/customer-stories/publishers"><span class="publishers-m">From our Publishers</span></a></li>
                                <li class="second-list"><a href="/customer-stories/marketers"><span class="marketers-m">From our Marketers</span></a></li>
                                <li class="second-list"><a href="/partners"><span class="partners-m">From our Partners</span></a></li>
                            </ul>
                          </div>
                      </div>
    	            </div>
    	        </li>
    	        <li class="mobile-li">
    	            <div class="title-no-icon">
    	                <span><a class="color-white" href="/technology">Technology</a></span>
    	            </div>
    	        </li>
    	        <li class="mobile-li">
    	            <div class="title">
    	                <span>Resources</span>
    	            </div>
    	            <div class="content">
    	                <ul>
    	                	<li><a class="color-white" href="http://liveintentblog.staging.wpengine.com/">Blog</a></li>
    	                	<li><a class="color-white" href="#">Knowledge Base</a></li>
    	                	<li><a class="color-white" href="http://liveintentblog.staging.wpengine.com/category/liveintentional/">LiveIntentional Library</a></li>
    	                	<li><a class="color-white" href="/resources/marketing-materials">Marketing Materials</a></li>
    	                	<li><a class="color-white" href="#">Developers</a></li>
    	                </ul>
    	            </div>
    	        </li>
    	        <li class="mobile-li">
    	            <div class="title">
    	                <span>About Us</span>
    	            </div>
    	            <div class="content">
    	                <ul>
    	                	<li><a class="color-white" href="/about/our-story/">Our Story</a></li>
    	                	<li><a class="color-white" href="/about/team/">Team</a></li>
    	                	<li><a class="color-white" href="/careers/">Careers</a></li>
    	                	<li><a class="color-white" href="/about/press/">Pressing News</a></li>
    	                </ul>
    	            </div>
    	        </li>
    	    </ul>
        <div id="social">
          <a class="btn btn-block btn-orange" href="/contact-us">Contact Sales!</a>
          <a class="btn btn-block btn-login" href="https://lfm.liveintent.com/">Login</a>
        </div>
      </div>
</div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
    		<li class="dropdown mega-dropdown active">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find Your Solution<span class="caret"></span></a>				
				<div class="dropdown-menu mega-dropdown-menu">
                    <div class="container-fluid">
    				    <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active">
                            <ul class="nav-list list-inline">
                                <li class="second-list"><a href="/solutions/advertisers"><span class="advertiser">For Advertisers</span></a></li>
                                <li class="second-list"><a href="/solutions/publishers"><span class="publisher">For Publishers</span></a></li>
                                <li class="second-list"><a href="/solutions/marketers"><span class="marketer">For Marketers</span></a></li>
                                <li class="second-list"><a href="/partners"><span class="partner">For Partners</span></a></li>
                            </ul>
                          </div>
                        </div>
                    </div> 
				</div>				
			</li>
			<li class="dropdown mega-dropdown active">
			    <a href="/customer-stories/" class="dropdown-toggle disabled" data-toggle="dropdown">See Customer Stories<span class="caret"></span></a>			
				<div class="dropdown-menu mega-dropdown-menu">
                    <div class="container-fluid">
    				    <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active">
                            <ul class="nav-list list-inline">
                                <li class="second-list"><a href="/customer-stories/advertisers"><span class="advertiser">From our Advertisers</span></a></li>
                                <li class="second-list"><a href="/customer-stories/publishers"><span class="publisher">From our Publishers</span></a></li>
                                <li class="second-list"><a href="/customer-stories/marketers"><span class="marketer">From our Marketers</span></a></li>
                                <li class="second-list nav-extra-padding-top"><a href="/partners"><span class="partner">From our Partners</span></a></li>
                            </ul>
                          </div>
                        </div>
                    </div> 
				</div>				
			</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
           <a class="btn btn-sm btn-orange btn-nav" href="/contact-us">Contact Sales</a>
           <a class="btn btn-sm btn-transparent btn-nav" href="https://lfm.liveintent.com/">Login</a>

           <li><a href="/technology">Technology</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://liveintentblog.staging.wpengine.com/">Blog</a></li>
                <li><a href="https://support.liveintent.com/hc/en-us">Knowledge Base</a></li>
                <li><a href="http://liveintentblog.staging.wpengine.com/category/liveintentional/">LiveIntentional Videos</a></li>
                <li><a href="/resources/marketing-materials">Marketing Materials</a></li>
                <li><a href="http://developers.liveintent.com/">Developer Community</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/about/our-story">Our</a></li>
                <li><a href="/about/team">Team</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/about/press">Pressing News</a></li>
              </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>