<section>
	<div class="container">
	        <div class="row">
	        	<h2 class="color-picton-blue text-center pt24 pb32">Reports</h2>
	            <div class="col-sm-12 col-md-4">
	                <div class="image-caption cast-shadow hover-caption mb-sm-32">
	                    <img class="img-responsive img-center" alt="Captioned Image" src="/img/resources/reports/crm-retargeting-report.jpg" />
	                    <div class="caption text-center">
	                    	<a href="#">
	                            <p>
	                                Download the Report!
	                            </p>
	                        </a>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-12 col-md-4">
	                <div class="image-caption cast-shadow hover-caption mb-sm-32">
	                    <img class="img-responsive img-center" alt="Captioned Image" src="/img/resources/reports/behind-the-screens-report.jpg" />
	                    <div class="caption text-center">
	                    	<a href="#">
	                            <p>
	                                Download the Report!
	                            </p>
	                        </a>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-12 col-md-4">
	                <div class="image-caption cast-shadow hover-caption">
	                    <img class="img-responsive img-center" alt="Captioned Image" src="/img/resources/reports/display-campaign-report.jpg" />
	                    <div class="caption text-center">
	                    	<a href="#">
	                            <p>
	                                Download the Report!
	                            </p>
	                        </a>
	                    </div>
	                </div>
	            </div>
		         <div class="col-md-12 text-center pt64 pb32">
	            	<a class="btn btn-lg btn-orange mb0" href="/customer-stories/">See More Reports</a>
	            </div>
	        </div><!--end of row-->
	</div><!--end of container-->
</section>