<div class="nav-container drop-bottom">
    <nav>
        <div class="nav-bar">
            <div class="module widget-handle  mobile-toggle visible-sm visible-xs">
                <p>sub page 1</p>
            </div>
            <div class="module-group left">
                <div class="module left">
                    <ul class="menu">
                    	<li>
                          <a href="#">For Advertisers</a>
                        </li>
                        <li>
                          <a href="#">For Publishers</a>
                        </li>
                        <li>
                          <a href="#">For Marketers</a>
                        </li>
                        <li>
                          <a href="#">For Partners</a>
                        </li> 
                        <li>
                          <a href="#">For Anyone Who's Lost</a>
                        </li>                       
                   </ul>
                </div>
                <!--end of menu module-->
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>