---
layout: default
title: LiveIntent | Marketing Materials
---

<div class="main-container">
 <section class="pt48 pb48 image-bg">
    <div class="background-image-holder">
        <img alt="Background" class="background-image img-responsive" src="/img/resources/marketing-materials-hero.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-xs-24 text-center">
                <h1 class="mb8 semi-bold">Marketing Materials</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% include reports.html %}
{% include customer-success.html %}
</div> <!--end of main container-->