---
layout: default
title: LiveIntent | History
---

<div class="main-container">
   <section class="pt32 pb32 image-bg overlay">
	    <div class="background-image-holder">
	        <img alt="Background" class="background-image" src="/img/careers/be-present.jpg" />
	    </div>
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12 mb-xs-80 text-center">
	                <h1 class="mb32 large">Be Present</h1>
	                <h5>Circa 2011</h5>
	            </div>
	        </div>
	        <!--end of row-->
	    </div>
	    <!--end of container-->
	</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<h2 class="orange">Since 2011</h2>
					<p>LiveIntent has been on the cutting edge of people-based marketing. A core value that resonates throughout our goals as a company and as a culture that truly aims at being the greatest place to work, ever!</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h2 class="orange">Yes, Ever</h2>
					<p>We really care about our employees, our partners, our industry, and our community.</p>
					<p>We aim to ensure that we engage each in a way that allows the to become better every day</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h2 class="orange">That's Why</h2>
					<p>Our company, like our platform, is powered by people.</p>
					<p>Fun people. Dedicated people. Smart people. People-people. And together we do awesome stuff. No diggity!</p>
			</div>
			<div class="col-xs-12 text-center pt32 pb32">
	            	<a class="btn btn-lg btn-orange mb0" href="/careers/">Come work with us!</a>
	        </div>
		</div>
	</div>
</section>
{% include awards.html %}
<section class="pt32 pb32 bg-picton-blue">
	<div class="container">
		<div class="row">
		    <h3 class="mb32 text-center">Our Leadership</h3>
			<div class="col-sm-12">
			  <ul class="list-inline text-center">
				{% for execs in site.data.execs %}
						<li class="mb32">
							<div class="sprite {{ execs.headshot }}"></div>
							<h5 class="pt8">{{ execs.name }}</h5>
							<h6>{{ execs.title }}</h6>
							<a href="https://www.linkedin.com/in/{{ execs.linkedin }}">
								<i class="icon-xs ti-linkedin"></i>
							</a>
						</li>
				{% endfor %}
			  </ul>
			  <a class="btn btn-lg btn-transparent mt16 pull-right" href="/about/team">More of the squad</a>
			</div>
		</div>
	</div>
</section>
<section class="pt32 pb32 bg-fun-blue">
	<div class="container">
		<div class="row">
			<h3 class="text-center color-white">Backed by the best in the business</h2>
			<div class="col-xs-4 col-md-12 text-center">
				<a href="#"><img class="vc-logo" src="/img/logos/vc/battery-logo.png"></a>
				<a href="#"><img class="vc-logo" src="/img/logos/vc/bullpen_logo.png"></a>
				<a href="#"><img class="vc-logo" src="/img/logos/vc/firstroundcapital-logo.png"></a>
				<a href="#"><img class="vc-logo" src="/img/logos/vc/ftv-logo.png"></a>
				<a href="#"><img class="vc-logo" src="/img/logos/vc/grapearbor-logo.png"></a>
				<a href="#"><img class="vc-logo" src="/img/logos/vc/lererventures.png"></a>
				<a href="#"><img class="vc-logo" src="/img/logos/vc/shasta_ventures.png"></a>
			</div>
	</div>
</section>
<section class="bg-dark">
	<div class="container">
	    <div class="row">
	        <div class="col-md-10 col-md-offset-1 text-center">
	            <i class="ti-twitter-alt orange mb40 mb-xs-24"></i>
	            <div class="twitter-feed tweets-slider large">
	                <div class="tweets-feed" data-widget-id="704359717318037504">
	                </div>
	            </div>
	        </div>
	    </div><!--end of row-->
	</div> <!--end of container-->
</section>
<section class="pt0 pb0 bg-primary">
	<div class="instafeed grid-gallery gapless" data-user-name="liveintent">
		<ul class=""></ul>
	</div>
</section>
</div> <!--end of main container-->