---
layout: default
title: LiveIntent | Our Story
---

<div class="main-container">
   <section class="pt32 pb32 image-bg overlay">
	    <div class="background-image-holder">
	        <img alt="Background" class="background-image" src="/img/careers/be-present.jpg" />
	    </div>
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12 mb-xs-80 text-center">
	                <h1 class="mb32 large">Be Present</h1>
	                <h5>Circa 2010</h5>
	            </div>
	        </div>
	        <!--end of row-->
	    </div>
	    <!--end of container-->
	</section>
	<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5">
				<img src="/img/about/headshots/matt.gif" alt="Matt Keiser">
			</div>
			<div class="col-xs-12 col-sm-7">
					    <p class="mb8">Check out this t-shirt. It embodies our “why”: Be Present. What you see in-front of you are hands jutting out from someone’s torso, and holding a phone. Looks like every person you see walking around these days, right?</p>
						<p class="mb8">So what does this have to do with “Be Present?” Everything..</p>
						<p class="mb8">The idea originated when our CEO, Matt Keiser, was spending an afternoon with his kids. And he caught himself. Standing around, looking at his phone, while missing some of the amazing things going on around him. He wasn’t himself when he had his phone out. It actually wasn’t him. It was an alter ego (a beast feasting on attention, hence the monstrous look to the arms.)He was there, but he wasn’t present. Enter: life-changing moment. Matt was so inspired that he created a reminder of the importance of being present as reflected in the design of this shirt. Monstrous hands holding a cell phone. And it’s our most popular shirt, both because it’s such a unique design, and because it’s a reminder of our company “why”.
						</p>
						<p class="mb8">Over time, being present expanded beyond a work mantra. Which is why when you come to one of our offices you’ll see the motto and the logo reflected everywhere. In essence, “Be Present” now has three layers:</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
					<h5><span class="orange">“Be Present” </span>with your family and your friends. The single most important thing you can do is to be present where you are with the people most important to you..</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
					<h5><span class="orange">“Be Present” </span> with your peers and colleagues. Turn your phones off. Close your laptops. When you’re in a meeting, of two or twenty, be present in that meeting and give your peers the respect and attention you would expect in return.</h5>
			</div>
			<div class="col-xs-12 col-sm-4">
					<h5><span class="orange">“Be Present” </span> for our customers. Advertisers. Publishers. Brands. Our goal is to help them “Be Present” when and where their customers are paying attention. It’s not about LiveIntent. It’s about our customers being present for their customers.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center pt32 pb32">
				<h4 class="pt16 pb16">The T-Shirt is our most popular. And it’s a reminder to anyone wearing it or seeing it pass by them in the hallway, to “Be Present.” In all three ways.</h4>
            	<a class="btn btn-lg btn-orange mb0" href="/careers/">Come be present us!</a>
		    </div>
		</div>
	</div>
</section>
{% include awards.html %}
<section class="pt32 pb32 bg-white">
	<div class="container">
		<div class="row">
		    <h3 class="mb32 text-center orange">Our Team</h3>
				{% for execs in site.data.execs %}
				<div class="col-xs-12 col-sm-3 col-md-3 mb32 text-center">
					<div class="sprite {{ execs.headshot }} img-center"></div>
					<h5 class="pt8 text-center">{{ execs.name }}</h5>
					<h6 class="text-center">{{ execs.title }}</h6>
					<div class="linkedin-team"><a class="text-center" href="https://www.linkedin.com/in/{{ execs.linkedin }}">
					<i class="icon-xs ti-linkedin text-center"></i>
					</a></div>
				</div>
				{% endfor %}
		</div>
		<div class="row text-center">
			<div class"col-xs-12">
				<a class="btn btn-lg btn-orange mt16" href="/about/team">More of the squad</a>
			</div>
		</div>
	</div>
</section>
{% include vc.html %}
<!-- <section class="bg-dark">
	<div class="container">
	    <div class="row">
	        <div class="col-md-10 col-md-offset-1 text-center">
	            <i class="ti-twitter-alt orange mb40 mb-xs-24"></i>
	            <div class="twitter-feed tweets-slider large">
	                <div class="tweets-feed" data-widget-id="704359717318037504">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section> -->
<section class="pt0 pb0 bg-primary">
	<div class="instafeed grid-gallery gapless" data-user-name="liveintent">
		<ul class=""></ul>
	</div>
</section>
</div> <!--end of main container-->