---
layout: default
title: LiveIntent | Press & Events
description: Browse the latest in LiveIntent News and stay up to date with events we attend.
---

<div class="main-container bg-gray">
{% include awards.html %}
	<section>
		<div class="row">
		  <div class="container">
			<div class="col-sm-12 col-md-6">
			  <div class="media-wrapper">
				<h3 class="mb16">LiveIntent News</h3>
				<ul>
			   	{% for liveintent in site.data.liveintent %}
				   <li class="pt8">
				   	<div class="press-box">
						<a href="{{ liveintent.link }}"><h5>{{ liveintent.title }}</h5></a>
					</div>
				   </li>
				   {% endfor %}
				</ul>	
			  </div><!--end of media wrapper-->
			  <div class="press-wrapper">
				<h3 class="mb16 mt32">Industry News</h3>
			   <ul>
			   	{% for news in site.data.news %}
				   <li>
				   	<div class="press-box">
						<a href="{{ press.link }}"><h5 class="orange">{{ news.title }}</h5></a>
						<h5>{{ news.publication }}</h5>
						<h5>{{ news.date }}</h5>
					</div>
				   </li>
				   {% endfor %}
				</ul>	
			  </div><!--end of media wrapper-->
			</div><!--end of media/press links-->
			<div class="col-sm-5 col-md-offset-1 col-md-5">
	            <div class="feature feature-3 boxed">
	                <div class="right">
	                    <h4 class="mb16">Media Inquiries</h4>
	                    <h5>Adam Berkowitz</h5>
	                    <h5 class="orange">aberkowitz@liveintent.com</h5>
	                    <h5>212.792.5348 x203</h5>
	                </div>
	                    <hr>
	                <div class="right">
	                    <h4 class="mb16">Upcoming Events</h4>
	                    {% for events in site.data.events %}
	                    <ul>
		                    <li class="mb24">
		                    	<a href="{{ events.link }}"><h5 class="mb8 orange">{{ events.title }}</h5></a>
			                    <h5>{{ events.date }}</h5>
			                    <h5>{{ events.location }}</h5>
		                    </li>
	                    </ul>
	                    {% endfor %}
	                </div>
	            </div>
	            <!--end of events-->
	        </div>
	      </div>
		</div>
	</section>
</div> <!--end of main container-->
