---
layout: default
title: LiveIntent | Team

---

<div class="main-container">
	<section class="bg-primary">
	  <div class="container">
		<div class="row">
		    <h3 class="mb32">Our Leadership</h3>
			<div class="col-sm-4 col-md-12">
			  <ul class="list-inline text-center">
				{% for team in site.data.team %}
						<li>
							<img src="{{ team.headshot }}">
							<h5>{{ team.name }}</h5>
							<h5>{{ team.title }}</h5>
							<a href="https://www.linkedin.com/in/{{ team.linkedin }}">
								<i class="icon-sm ti-linkedin"></i>
							</a>
						</li>
				{% endfor %}
			  </ul>
			</div>
		</div>
		<div class="row">
		    <h3 class="mb32">Our Advisors & Board Members</h3>
			<div class="col-sm-4 col-md-12">
			  <ul class="list-inline text-center">
				{% for investors in site.data.investors %}
						<li>
							<img src="{{ investors.headshot }}">
							<h5>{{ investors.name }}</h5>
							<h5>{{ investors.title }}</h5>
							<a href="https://www.linkedin.com/in/{{ investors.linkedin }}">
								<i class="icon-sm ti-linkedin"></i>
							</a>
						</li>
				{% endfor %}
			  </ul>
			</div>
		</div>
	  </div>
	</section>
	{% include vc.html %}
</div> <!--end of main container-->
