---
layout: default
title: LiveIntent | Team
description: Check out LiveIntent's all-star team. Contact us to join the crew!
---

<div class="main-container">
	<section class="bg-white">
	  <div class="container">
		<div class="row">
		    <h3 class="mb32 text-center orange">Our Team</h3>
				{% for team in site.data.team %}
				<div class="col-xs-12 col-sm-6 col-md-2 mb32 text-center">
					<div class="sprite {{ team.headshot }} img-center"></div>
					<h5 class="pt8 text-center">{{ team.name }}</h5>
					<h6 class="text-center">{{ team.title }}</h6>
					<div class="linkedin-team"><a class="text-center" href="https://www.linkedin.com/in/{{ team.linkedin }}">
					<i class="icon-xs ti-linkedin text-center"></i>
					</a></div>
				</div>
				{% endfor %}
			</div>
		</div>
	  </div><!--end of container-->
	  </section>
	  {% include vc.html %}
	  <section class="bg-white">
	  <div class="container">
		<div class="row">
		    <h3 class="mb32 text-center orange">Our Advisors & Board Members</h3>
				{% for investors in site.data.investors %}
					<div class="col-xs-12 col-sm-6 col-md-2 mb32 text-center">
							<div class="sprite {{ investors.headshot }} img-center"></div>
							<h5 class="pt8 text-center">{{ investors.name }}</h5>
							<h5 class="text-center">{{ investors.title }}</h5>
					</div>
				{% endfor %}
			</div>
		</div>
	  </div>
	</section>
</div> <!--end of main container-->
