<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav-bootstrap2.html %}
    

    <div class="main-container">
    <section id="container-hero" class="bg-white pt72 pb72 pt-xs-64 pb-xs-64 overlay image-bg">
      <div class="background-image-holder">
            <img alt="image" class="background-image"/>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>Our platform is built from +500 and reaching over 125MM people engaged in content they requested from 750 brands and publishers. All brought together to help you accomplish your goals. </h4>
                </div>
            </div>
        </div><!--end of row-->
      </div><!--end of container-->
   </section>
   <section>
    <div class="container">
        <div class="row mb64 mb-xs-24">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                <h3>Find Your Solution</h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6 col-md-3 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Advertisers</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Publishers</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Marketers</h4>
                    <p>
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
                <div class="feature boxed cast-shadow-light">
                    <h4>For Partners</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a class="btn btn-lg btn-orange" href="#">Learn More!</a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% include kraft-testimonial.html %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb64 mb-xs-40">The Proof is in the Partners</h4>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="logo-carousel">
                <ul class="slides">
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="Logo" src="/img/logos/kraft-logo.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <!--end of logo slider-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    </section>
    </div>

    {% include footer.html %}
    {% include js.html %}

  </body>

</html>
