<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar-4.html %}

    <div class="main-container">
    <section class="bg-primary pt240 pb240 pt-xs-120 pb-xs-80 overlay image-bg">
      <div class="background-image-holder">
            <img alt="image" class="background-image" src="" />
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h1 class="mb56 mb-xs-24">
             A smarter way to market and advertise in email. 
            </h1>
            <a class="btn btn-lg btn-orange mb40" href="#">Get smarter</a>
            <div class="down-arrow"><i class="fa fa-angle-down"></i></div>
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
    </section>
    <section class="pt180 pb180 pt-xs-80 pb-xs-80 change-color-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h3 class="mb40 mb-xs-32">The <span class="orange">email address</span> is the most powerful tool for clearly connecting directly with the audiences you care about.</h3>
            <h4 class="mb40">Which is why?</h4>
            <div class="down-arrow"><i class="fa fa-angle-down"></i></div>
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
    </section> 
    <section class="bg-primary pt-xs-120 pb-xs-80 overlay image-bg">
      <div class="background-image-holder">
            <img alt="image" class="background-image" src="" />
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-10 col-sm-offset-1">
            <form id="home-marketo-form1">
            I am a 
              <select>
                <option value="1" selected>publisher</option>
                <option value="2">advertiser</option>
                <option value="3">brand</option>
              </select>
            and I'd like to <br>
              <select>
                <option value="1">reach</option>
                <option value="2">aquire</option>
                <option value="3" selected>monetize</option>
                <option value="4">optimize</option>
              </select>
            more customers.<br>
            <br>
            I have a list of
              <select>
                <option value="1">0-9M</option>
                <option value="2" selected>10-20M</option>
                <option value="3">20M+</option>
              </select>subscribers <br>
            and I send 
            <select>
                <option value="1">0-50M</option>
                <option value="2" selected>50-100M</option>
                <option value="3">100M+</option>
            </select>
            emails per month.
            </form>
          </div>
        </div><!--end of row-->
        <div class="row">
          <div class="col-sm-12 text-center">
              <a class="btn btn-lg btn-orange mt48" href="#">Get Ready!</a>
          </div>
        </div>
      </div><!--end of container-->
    </section>
</div>

    {% include footer.html %}
    {% include js.html %}

  </body>

</html>
