<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}
    {% include sub-nav-default.html %}

    <div class="main-container">
    <section class="bg-primary pt72 pb72 pt-xs-64 pb-xs-64 overlay image-bg">
      <div class="background-image-holder">
            <img alt="image" class="background-image" src="" />
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h1 class="mb56 mb-xs-24">
             A smarter way to market and advertise in email. 
            </h1>
            <a class="btn btn-lg btn-orange mb40" href="#">Get smarter</a>
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
    </section>
    <section class="pt180 pb180 pt-xs-80 pb-xs-80 change-color-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <h3 class="mb40 mb-xs-32">The <span class="orange">email address</span> is the most powerful tool for clearly connecting directly with the audiences you care about.</h3>
            <h4 class="mb40">Which is why?</h4>
            <div class="down-arrow"><i class="fa fa-angle-down"></i></div>
          </div>
        </div><!--end of row-->
      </div><!--end of container-->
    </section> 
   <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb64 mb-xs-40">The Proof is in the Partners</h4>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides">
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="/img/logos/kraft-logo.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
</div>

    {% include footer.html %}
    {% include js.html %}

  </body>

</html>
